# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Build / output
dist/
build/
out/
.vite/

# Vite
*.local

# Env
.env
.env.*
!.env.example

# Logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# TypeScript
*.tsbuildinfo

# Testing / coverage
coverage/
*.lcov

# Vercel
.vercel

# Optional caches
.cache/
.turbo/