@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IntegralCF";
  src: url("/fonts/integralcf-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.font-satoshi { font-family: "Satoshi", sans-serif; }
.font-integralCF { font-family: "IntegralCF", "Satoshi", sans-serif; }
html { scroll-behavior: smooth; }
body { margin: 0; }
img { max-width: 100%; }
